.header {
  background: rgb(44, 44, 44);
  color: white;
  font-size: 30px;
  text-decoration: none;
  overflow: hidden;
  padding: 20px 10px;
}

.header .logo {
  font-size: 36px;
  color: blanchedalmond;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header .header-right {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.navbar-brand {
  font-size: large !important;
}

#spaceholder {
  width: 90px;
}


@keyframes col1 {
  from {font-size: 16px;}
  to {font-size: 48px;}
}

#colName1 {
  animation-name: col1;
  animation-duration: 1s;
  font-size: 48px;
}

#colName2 {
  animation-name: col1;
  animation-duration: 1s;
  font-size: 48px;
}

#colName3 {
  animation-name: col1;
  animation-duration: 1s;
  font-size: 48px;
}